In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\prajudice\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: joblib in c:\users\prajudice\anaconda3\lib\site-packages (from nltk) (0.17.0)
Requirement already satisfied: tqdm in c:\users\prajudice\anaconda3\lib\site-packages (from nltk) (4.50.2)
Requirement already satisfied: regex in c:\users\prajudice\anaconda3\lib\site-packages (from nltk) (2020.10.15)
Requirement already satisfied: click in c:\users\prajudice\anaconda3\lib\site-packages (from nltk) (7.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk

In [3]:
#nltk.download('punkt')

In [4]:
import pandas as pd

In [5]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [6]:
display(fake.info())
display(fake.head())
display(fake.subject.value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [7]:
display(genuine.info())
display(genuine.head())
display(genuine.subject.value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [8]:
fake['Target'] = 0
genuine['Target'] = 1

In [9]:
data = pd.concat([fake, genuine], axis = 0)

In [10]:
data = data.reset_index(drop = True)

In [11]:
data = data.drop(['subject','date','title'], axis = 1)

In [12]:
print(data.columns)

Index(['text', 'Target'], dtype='object')

# Tokenization

In [13]:
from nltk.tokenize import word_tokenize

In [14]:
data['text'] = data['text'].apply(word_tokenize)

In [15]:
print(data.head(10))

                                                text  Target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

# Stemming

In [16]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english")

In [17]:
def stem_it(text):
    return[porter.stem(word) for word in text]

In [18]:
data['text'] = data['text'].apply(stem_it)

In [19]:
print(data.head(10))

                                                text  Target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

# Stopword Removal

In [20]:
#from nltk.corpus import stopwords
#nltk.download('stopwords')
#print(stopwords.word('english'))

In [21]:
def stop_it(t):
    dt = [word for word in t if len(word) > 2]
    return dt

In [22]:
data['text'] = data['text'].apply(stop_it)

In [23]:
print(data.head(10))

                                                text  Target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [24]:
data['text'] = data['text'].apply(' '.join)

In [25]:
print(data.head(10))

                                                text  Target
0  donald trump just couldn wish all american hap...       0
1  hous intellig committe chairman devin nune hav...       0
2  friday was reveal that former milwauke sheriff...       0
3  christma day donald trump announc that would b...       0
4  pope franci use his annual christma day messag...       0
5  the number case cop brutal and kill peopl colo...       0
6  donald trump spent good portion his day his go...       0
7  the wake yet anoth court decis that derail don...       0
8  mani peopl have rais the alarm regard the fact...       0
9  just when you might have thought get break fro...       0

# Splitting

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data['text'], data['Target'], test_size = 0.25)
display(x_train.head())
print('\n')
display(y_train.head())

33981    new york reuter democrat presidenti hope hilla...
17662    hillari clinton barack obama eric holder and l...
29749    brussels/berlin reuter germani foreign minist ...
17344    nooooo this not good and true the replenish th...
35406    vatican citi reuter pope franci and jordan kin...
Name: text, dtype: object

33981    1
17662    0
29749    1
17344    0
35406    1
Name: Target, dtype: int64

# Vectorization

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df = 0.7)

tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test = my_tfidf.transform(x_test)

In [32]:
print(tfidf_train)

  (0, 22674)	0.12768936297003627
  (0, 42307)	0.08068019811859897
  (0, 36997)	0.043492387470786716
  (0, 77456)	0.09085031619108472
  (0, 28158)	0.2593197389833569
  (0, 22666)	0.08292636173774777
  (0, 41378)	0.08686286369837086
  (0, 72173)	0.2850847347268845
  (0, 62360)	0.06430428551384551
  (0, 33464)	0.08050648237350848
  (0, 10882)	0.10414725710552288
  (0, 81484)	0.036023581554657756
  (0, 7678)	0.19229640204899215
  (0, 48985)	0.1787428089187089
  (0, 28152)	0.1235686377359836
  (0, 21604)	0.2439884532213497
  (0, 54059)	0.13263159719882225
  (0, 7587)	0.09356526387041424
  (0, 50180)	0.16437259016289027
  (0, 50483)	0.21667846565683446
  (0, 69251)	0.10291240856361662
  (0, 28483)	0.055497087075977114
  (0, 59283)	0.0909555157639139
  (0, 58892)	0.09353016107998266
  (0, 62365)	0.06288761632889617
  :	:
  (33671, 42272)	0.01606903462957229
  (33671, 57883)	0.02506405003210097
  (33671, 81007)	0.014323384050854364
  (33671, 68399)	0.015072099005755473
  (33671, 37710)	0.007373743824110702
  (33671, 89887)	0.037714018362518205
  (33671, 54230)	0.02182691612202174
  (33671, 88812)	0.012945515944774739
  (33671, 34390)	0.015734561624982078
  (33671, 39010)	0.0324168520785902
  (33671, 7170)	0.04427614526888878
  (33671, 81452)	0.013461497260917034
  (33671, 42307)	0.017244830120596265
  (33671, 36997)	0.018592389482493515
  (33671, 22666)	0.017724931941595082
  (33671, 81484)	0.0076997895237234165
  (33671, 69251)	0.043993620352100915
  (33671, 70028)	0.07155160155885625
  (33671, 37846)	0.06627170027106255
  (33671, 76981)	0.10786296760545933
  (33671, 33250)	0.02236444582113967
  (33671, 29974)	0.012195443480379467
  (33671, 17040)	0.032254193424295884
  (33671, 55541)	0.018920622440738742
  (33671, 29086)	0.021951942060194077

# logistic Regression

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [34]:
model_1 = LogisticRegression(max_iter = 900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test,pred_1)
print(cr1*100)

98.93095768374165

# PassiveAggresiveClassifier

In [35]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter = 50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [36]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is: ', accscore*100)

The accuracy of prediction is:  99.62583518930957